<div class='comment mt-1'>
  <div class='text-info'>
    <%= comment.user&.name %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-7">
        <%= comment.content %>
      </div>
      <div class="col-md-4">
          <%= link_to I18n.t('shop.book.comment.destroy_comment'), [comment.book, comment],
                                                                  method: :delete,
                                                                  data: { confirm: I18n.t('common.are_you_sure')}, class: 'text-danger' if comment.user_id == current_user.id %>
      </div>
    </div>
  </div>
</div>
