<footer class='footer'>
  <small>
    <%= I18n.t('admin.bookshop_management_page') %>
  </small>
  <nav>
    <ul>
      <li><%= link_to I18n.t('common.about'),   '#' %></li>
      <li><%= link_to I18n.t('common.contact'), '#' %></li>
    </ul>
  </nav>
</footer>
