<div class='col-sm-4 col-md-3 sidebar'>
  <div class='list-group'>
    <%= link_to I18n.t('admin.user_management'), admin_users_path, class: 'list-group-item' %></li>
    <%= link_to I18n.t('admin.category_management'), admin_categories_path, class: 'list-group-item' %></li>
    <%= link_to I18n.t('admin.book_management'), admin_books_path, class: 'list-group-item' %></li>
  </div>
</div>
